In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

from bs4 import BeautifulSoup
import requests

from datetime import timedelta, date

In [3]:
datadate=[]

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

start_dt = date(2015, 12, 20)
end_dt = date(2015, 12, 21)


for dt in daterange(start_dt, end_dt):
    datadate.append(dt.strftime("%Y-%m-%d"))
    
datadate

['2015-12-20', '2015-12-21']

In [3]:
data=[]

for datos in datadate:
    url='http://www.vpgt.lt/vpgt/m/m_events_summary/wfiles/e_'+datos+'.htm'
    result = requests.get(url)
    c = result.content
    soup =BeautifulSoup(c,'lxml')
    table = soup.find('table')
    rows =table.find_all('tr')
    data0=[]
    for tr in rows:
        cols = tr.find_all('td')
        for td in cols:
            text1 = td.find('p')
            data0.append(text1.text)
            
    data.append(data0)

AttributeError: 'NoneType' object has no attribute 'text'

In [4]:
print(data0)

['\xa0 Priešgaisrinės apsaugos ir gelbėjimo\r\n  departamento prie VRM informacija apie\r\n  ekstremaliąsias situacijas, ', 'Duomenys apie:', '', '', '', 'Vilniaus', 'Kauno', 'Klaipėdos', 'Šiaulių', 'Panevėžio', 'Alytaus', 'Utenos', 'Marijampolės', 'Tauragės', 'Telšių', 'Ekstremaliąsias situacijas', '6', '4', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', 'Ekstremaliuosius įvykius', '728', '811', '\xa0', '\xa0']

In [3]:
data=[]

for datos in ['2015-12-20', '2015-12-21']:
    url='http://www.vpgt.lt/vpgt/m/m_events_summary/wfiles/e_'+datos+'.htm'
    data.append(url)
print(data)

['http://www.vpgt.lt/vpgt/m/m_events_summary/wfiles/e_2015-12-20.htm', 'http://www.vpgt.lt/vpgt/m/m_events_summary/wfiles/e_2015-12-21.htm']

In [4]:
data=data[data.index('Ekstremaliąsias situacijas'):data.index('2.\r\n  Gaisrų aprašymas')]

In [5]:
df=pd.DataFrame(np.array(data).reshape(22,14), columns =["Duomenys apie:", "2017 nuo metų pr.", "2018 nuo metų pr.", "Iš viso per parą", "Vilniaus", "Kauno", "Klaipėdos", "Šiaulių", "Panevėžio", "Alytaus", "Utenos", "Marijampolės", "Tauragės", "Telšių"])

In [6]:
df=df.drop(df.columns[1:4], axis=1).T.drop([2,6,13], axis=1)

In [7]:
df=df.rename(columns=df.iloc[0]).drop(['Duomenys apie:']).reset_index()

In [8]:
df

,index,Ekstremaliąsias situacijas,Ekstremaliuosius įvykius,GAISRUS:,a) Gaisruose žuvusius,b) traumuotus asmenis,a) transporto avarijose,b) vandenyje,c) buityje,d) pagalba spec. tarnyboms,e) chemija ir radiacija,f) kitus,a) gaisruose,"b) buityje, vandenyje",c) transporto avarijose,d) kitur,Žuvę/traumuoti ne gaisre,Evakuoti žmonės,Melagingi pranešimai,KITI IŠVYKIMAI
0,Vilniaus,,1,8,,,2,,,2,,,,,1,,/,,,8
1,Kauno,,,8,,,2,,1,1,,,,,,,/,,1,7
2,Klaipėdos,,,6,,,,,,,,4,,,,,/,,,4
3,Šiaulių,,2,5,,,,,,2,,1,,,,1,/,,,3
4,Panevėžio,,,11,,,,,1,3,,,,,,1,/1,,,1
5,Alytaus,,,3,,,,1,,2,,,,,,,/,,,2
6,Utenos,,,1,,,,,,,,,,,,,/,,,2
7,Marijampolės,,2,1,,,1,,1,2,,,,,,,/,,,3
8,Tauragės,,,1,,,,,,,,,,,,,/,,,1
9,Telšių,,,2,,,,,,1,,3,,,,,/,,,

In [9]:
df['Žuvę ne gaisre'], df['Traumuoti ne gaisre'] = df['Žuvę/traumuoti ne gaisre'].str.split('/',1).str
df=df.drop(['Žuvę/traumuoti ne gaisre'], axis=1)

In [10]:
df

,index,Ekstremaliąsias situacijas,Ekstremaliuosius įvykius,GAISRUS:,a) Gaisruose žuvusius,b) traumuotus asmenis,a) transporto avarijose,b) vandenyje,c) buityje,d) pagalba spec. tarnyboms,...,f) kitus,a) gaisruose,"b) buityje, vandenyje",c) transporto avarijose,d) kitur,Evakuoti žmonės,Melagingi pranešimai,KITI IŠVYKIMAI,Žuvę ne gaisre,Traumuoti ne gaisre
0,Vilniaus,,1,8,,,2,,,2,...,,,,1,,,,8,,
1,Kauno,,,8,,,2,,1,1,...,,,,,,,1,7,,
2,Klaipėdos,,,6,,,,,,,...,4,,,,,,,4,,
3,Šiaulių,,2,5,,,,,,2,...,1,,,,1,,,3,,
4,Panevėžio,,,11,,,,,1,3,...,,,,,1,,,1,,1
5,Alytaus,,,3,,,,1,,2,...,,,,,,,,2,,
6,Utenos,,,1,,,,,,,...,,,,,,,,2,,
7,Marijampolės,,2,1,,,1,,1,2,...,,,,,,,,3,,
8,Tauragės,,,1,,,,,,,...,,,,,,,,1,,
9,Telšių,,,2,,,,,,1,...,3,,,,,,,,,